<div class="container my-5">
    <h2 class="text-center my-3">Undirskriftir</h2>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="/" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/1" tabindex="1">1</a></li>
          <li class="page-item"><a class="page-link" href="/2" tabindex="2">2</a></li>
          <li class="page-item"><a class="page-link" href="/3" tabindex="3">3</a></li>
          <li class="page-item">
            <a class="page-link" href="/" tabindex="+1">Next</a>
          </li>
        </ul>
      </nav>
</div>
<% if(signatures.length === 0) { %>
    <div class="container">
      <p class="row col villur">Engar undirskriftir</p>
    </div>
  <% } else { %>
    <div class="container">
        <h3>Fjöldi færslna: <%= signatures.length %></h3>
        <table class="table">
        <tr class="row tb-row tb-header">
          <td class="col col-2"><strong>Dags</strong></td>
          <td class="col col-2"><strong>Nafn</strong></td>
          <td class="col col-7"><strong>Athugasemd</strong></td>
        </tr>
        <% signatures.forEach((signature) => { %>
          
            <tr class="row tb-row">
              <td class="col col-1"><%= signature.signed.toLocaleDateString() %></td>
              <% if (!signature.anonymous) { %>
                <td class="col col-2"><%= signature.name %></td>
              <% } else { %>
                <td class="col col-2">Nafnlaus</td>
              <% } %>
                <td class="col col-7"><%= signature.comment %></td>
              <% if (admin) { %>
                <td class="col col-1">
                  <form action="/delete?id=<%= signature.id %> " method="post">
                    <input type="submit" name="upvote" value="Eyða"/>
                  </form>
                </td>
              <% } %>
            </tr>
        <% }); %>
        </table>
    </div>
  <% } %>

